*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: arial, sans-serif;
     /* min-height: 1000vh; */
     display: grid;
     background-image:url(assets/images/background-pattern-desktop.svg) ;
     background-color: hsl(275, 100%, 97%);
     background-size: 100%;
     background-repeat: no-repeat;
     justify-content: center;
}
.faq-container{
     max-width: 600px;
     background-color:  hsl(0, 0%, 100%);
     padding:40px;
     margin: 1rem;
     border-radius: 1rem;
     box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
     

}
.faq-header{
     display: flex;
     gap: 2rem;
}
img.svg{
     max-width: 100%;
     display: block;
}
.faq-header h1{
     font-size: 4rem;
     font-weight: 600;
     color: hsl(292, 42%, 14%);
     margin-bottom: 10px;
}
.accordion-items{
     margin-bottom: 20px;
}
.faq-top{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
.faq-question{
     display: flex;
     font-size: 16px;
     font-weight: 600;
     align-items: center;
     padding: 20px;
     
}
button{
     background-color: transparent;
     border: 0;
     padding: 1rem 0;
     gap: 1rem;
     display: flex;
     justify-content: space-between;
     cursor: pointer;
     align-items: center;
}
button:hover{
     color: purple;
}
.icon-plus,
.icon-minus{
     height: 25px;
     width: 25px;
}
.accordion-content{
     /* padding: 1rem 0; */
     color:  hsl(292, 42%, 14%);
}

@media(max-width:800px){
     body{
          background-image: url(assets/images/background-pattern-mobile.svg);
     }
     .faq-container{
          max-width: 500px;
          max-height: 500px;
          padding: 10px;
          margin-top: 100px;
     }
     .faq-header h1{
          font-size: 2rem;
     }
     .faq-question{
          font-size: 14px;
     }
     .faq-content p{
          padding: 0 10px 10px;
     }

}



